##################################################
# General
##################################################
.idea
*.log
*.tmp
*.temp
*.bak
*.swp
*.DS_Store
Thumbs.db

##################################################
# Build Results
##################################################

bin/
obj/
out/
TestResults/

##################################################
# .NET
##################################################

*.user
*.rsuser
*.suo
*.cache
*.pdb
*.mdb

##################################################
# Rider
##################################################

.idea/
*.sln.iml

##################################################
# Visual Studio
##################################################

.vs/

##################################################
# MAUI / Xamarin
##################################################

*.apk
*.aab
*.ap_
*.dex
*.class
*.keystore
*.jks

##################################################
# Android
##################################################

**/android/bin/
**/android/obj/
*.keystore
*.keystore.user

##################################################
# NuGet
##################################################

*.nupkg
packages/
.nuget/

##################################################
# Node (future Monaco integration)
##################################################

node_modules/
dist/
build/

##################################################
# Local Linux Environment (Future)
##################################################

linux-rootfs/
workspace/
.local-sdk/
.droidide-cache/

##################################################
# Logs
##################################################

logs/
*.log

##################################################
# Temporary IDE Files
##################################################

*.orig
*.rej
*.lock.json

##################################################
# Generated Editor Files
##################################################

wwwroot/
editor-build/